body {
  font-family: "Courier New", Courier, monospace;
}

button {
  width: fit-content;
  color: #000000;
  border: solid 1px #000000;
}

.pointer {
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100dvh;
  background: #eee;
  box-shadow: #eee 0 0 12px;
  margin: 0 auto;

  .info-container {
    display: flex;
  }
  .level-info-container {
    margin-left: auto;
    width: fit-content;
    padding-right: 10px;

    .rank-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .rank {
        text-transform: uppercase;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        letter-spacing: 5px;
        font-size: 12px;
      }
      .stars {
        width: fit-content;
        font-size: 30px;
        padding: 0;
        margin: 0;
      }
    }
  }

  .game-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;

    .info-item {
      display: flex;
      font-size: 12px;
      gap: 5px;

      .title {
        font-weight: bold;
      }
    }
  }
  .game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .word-container {
      display: flex;
      width: 100%;
      justify-content: center;
      font-size: 40px;
      text-transform: capitalize;
    }
    .options-container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px;
      gap: 10px;

      .btn-container {
        display: flex;
        flex: none;
        cursor: pointer;
        align-items: center;
        width: 45%;
        height: 45px;
        border: solid 1px #000000;
        padding: 0 5px;

        &:hover {
          background: #000000;
          color: #ffffff;

          button {
            background: #000000;
            color: #ffffff;
            font-weight: bold;
          }
        }

        &.correct {
          background: #16b45a;

          button {
            background: #16b45a;
          }
        }
        &.wrong {
          background: #a40b09;
          color: white;

          button {
            background: #a40b09;
            color: white;
          }
        }
      }

      .option-btn {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border: none;
        text-transform: capitalize;
      }
    }
    .answer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 10px;

      .info {
        font-size: 20px;
      }

      .action-box {
        display: flex;
        gap: 10px;
      }
    }
  }
}

button {
  cursor: pointer;
}
